@if(isLoading){
<app-spinner [isLoading]="isLoading"></app-spinner>
}
@else {
<div class="container">
  <div class="card">
    <div class="card-body">
      <form [formGroup]="userForm">
        <div class="row mb-3">
          <div class="col-md-6">
            <label class="form-label" for="name">Name</label>
            <input formControlName="name" type="text" class="form-control"
              [ngClass]="{'is-invalid': f['name'].errors && (f['name'].dirty || f['name'].touched)}" id="name"
              placeholder="Enter your name" required>
            <div *ngIf="f['name'].errors && (f['name'].dirty || f['name'].touched)" class="invalid-feedback">
              <div *ngIf="f['name'].hasError('required')">Name is required.</div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="form-label" for="email">Email</label>
            <input formControlName="email" type="email" class="form-control"
              [ngClass]="{'is-invalid': f['email'].errors  && (f['email'].dirty || f['email'].touched)}" id="email"
              placeholder="Enter your email" required>
            <div *ngIf="f['email'].errors && (f['email'].dirty || f['email'].touched)" class="invalid-feedback">
              <div *ngIf="f['email'].errors['required']">Email is required.</div>
              <div *ngIf="f['email'].errors['email']">Email is invalid.</div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label class="form-label" for="address">Address</label>
            <textarea formControlName="address" class="form-control" id="address" rows="3"
              [ngClass]="{'is-invalid': f['address'].errors  && (f['address'].dirty || f['address'].touched)}"
              placeholder="Enter your address" required></textarea>
            <div *ngIf="f['address'].errors && (f['address'].dirty || f['address'].touched)" class="invalid-feedback">
              <div *ngIf="f['address'].errors['required']">Address is required.</div>
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-12">
            <label class="form-label" for="company">Company</label>
            <input formControlName="company" type="text" class="form-control"
              [ngClass]="{'is-invalid': f['company'].errors  && (f['company'].dirty || f['company'].touched)}"
              id="company" placeholder="Enter your company name" required>
            <div *ngIf="f['company'].errors && (f['company'].dirty || f['company'].touched)" class="invalid-feedback">
              <div *ngIf="f['company'].errors['required']">Company name is required.</div>
            </div>
          </div>
        </div>
      </form>
      <div class="mb-3">
        <button type="submit" (click)="onSubmit()" class="btn btn-primary w-100">
          <ng-container *ngIf="isSubmit; else submitText">
            <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
          </ng-container>
          <ng-template #submitText>Submit</ng-template>
        </button>
      </div>
    </div>
  </div>
</div>
}
