@if(isLoading){
  <app-spinner [isLoading]="isLoading"></app-spinner>
  }
  @else {
    <div class="container d-flex justify-content-center">
      <div class="card w-100">
        <div class="card-body text-center">
          <img src="images/logo.png" class="rounded-circle" width="100" height="100" alt="Email">
          <h5 class="card-title">{{user.name}}</h5>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item p-4"><img src="images/email_icon.jpg" class="rounded-circle" width="50" height="50" alt="Email"> {{user.email}}</li>
          <li class="list-group-item p-4"><img src="images/address_icon.png" class="rounded-circle" width="50" height="50" alt="Address"> {{user.address}}</li>
          <li class="list-group-item p-4"><img src="images/office_icon.png" class="rounded-circle" width="50" height="50" alt="Office"> {{user.company}}</li>
        </ul>
      </div>
    </div>
  }

