/* You can add global styles to this file, and also import other style files */

.container {
  margin-top: 2rem;
  margin-bottom: 2rem;
  opacity: 0.8;
}


*body {
  background-image: url('/images/bg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
